@import url('../src/assets/reset.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');
body{
  background: rgb(242, 242, 242)
}
header {
  background: rgb(66, 103, 178);
  font-family: 'PT Sans Narrow', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
header a {
  color: rgb(238, 238, 238);
}
header a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px rgb(33, 83, 184);
}
header .container {
  max-width: 1000px;
  margin: 0 auto;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .logo {
  font-size: 30px;
  font-weight: 700;
  margin: 7px 0;
}
header .profile {
  font-size: 15px;
  vertical-align:baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .profile a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .profile a:hover {
  color: rgba(255, 255, 255, 0.8);
}
header .profile .icon-profile {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background:#EEE;
  border: 3px solid #EEE;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .profile .icon-profile .head {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4267B2;
  margin-bottom: 1px;
}
header .profile .icon-profile .body {
  width: 13px;
  height: 8px;
  border-radius: 80% 80% 0 0%;
  background: #4267B2;
}

/* post-list */
section .post-list {
  margin: 25px auto;
  max-width: 800px;
  min-height: 150px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border: 1px solid #FFF;
  box-shadow: 0px 3px 5px 0px rgba(107,107,107,0.3);
}

section .post-list .post-list-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
section .post-list .post-list-header-avatar img {
  margin: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid #FFF;
  border-radius: 50%;
}
section .post-list .post-list-header-name {
  font-weight: bold;
  font-size: 14px;
  color: #555;
}
section .post-list .post-list-header-date {
  font-weight: normal;
  font-size: 12px;
  color: #888;
}
section .post-list .post-list-body{
  margin: 0 10px;
  font-size: 13px;
  color: #555;
}
section .post-list span {
  margin: 20px auto 10px auto;
  width: 98%;
  height: 2px;
  background: rgba(107,107,107,0.07)
}
section .post-list .post-list-comment {
  width: 98%;
  margin: 10px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
}
section .post-list .post-list-comment-avatar img {
  margin: 10px 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #DDD;
}
section .post-list .post-list-comment-content {
  margin: 0px 10px 0 10px;
  background: rgba(107,107,107,0.1);
  font-size: 12px;
  color: #666;
  padding: 10px;
  border-radius: 8px;
}
